<!-- <nav> -->
   <!-- {% for item in site.data.navigation %} -->
     <!-- <a href="{{ item.link }}" {% if page.url | relative_url == item.link %}class="current"{% endif %}>{{ item.name }}</a> -->
   <!-- {% endfor %} -->
 <!-- </nav> -->



 <div class="align-self-center ml-auto header-col-mid">
  <!-- mainmenu begin -->
  <ul id="mainmenu" class="scrollnav">
        <li><a href="/index.html" class="active">Home</a></li>
        <li></li>
        <!-- <li><a href="{{ "index.html#about" | absolute_url }}">About</a></li>
        <li></li>
        <li><a href="/index.html#section-services">Services</a></li>
        <li></li>
        <li><a href="/index.html#section-portfolio">Portfolio</a></li>
        <li></li>
        <li><a href="/index.html#section-blog">Blog</a></li>
        <li></li> -->
        <li><a href="/technical/charts.html">Charts</a></li>
        <li></li>
        <!-- <li><a href="/index.html#section-contact">Contact</a></li>
        <li></li> -->
  </ul>
  <!-- mainmenu close -->
</div>