---
layout: default
---

<div class="no-bottom no-top dark" id="content">
   <div id="top"></div>

   <section id="section-services" data-bgcolor="#F6F7FB">
      <div class="container">
         <div class="row">
            <!-- <div class="col-lg-6 offset-lg-3"> -->
            <div class="col"></div>
               <div class="text-left">
                  <h1>{{ page.title }}</h1>
                  {{ content }}
                  <div class="spacer-30"></div>
               </div>
            </div>
         </div>

         <!-- <div class="row">
               <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay="0s">
                  <div class="f-box f-icon-left f-icon-circle f-border">
                     <i class="fa fa-laptop id-color"></i>
                     <div class="fb-text">
                           <h4>Website Design</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
               </div>

               <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".25s">
                  <div class="f-box f-icon-left f-icon-circle f-border">
                     <i class="fa fa-paper-plane-o id-color"></i>
                     <div class="fb-text">
                           <h4>Email Marketing</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
               </div>

               <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".5s">
                  <div class="f-box f-icon-left f-icon-circle f-border">
                     <i class="fa fa-line-chart id-color"></i>
                     <div class="fb-text">
                           <h4>Digital Analytics</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
               </div>

               <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay="0s">
                  <div class="f-box f-icon-left f-icon-circle f-border">
                     <i class="fa fa-object-group id-color"></i>
                     <div class="fb-text">
                           <h4>Visual Editor</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
               </div>

               <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".25s">
                  <div class="f-box f-icon-left f-icon-circle f-border">
                     <i class="fa fa-hdd-o id-color"></i>
                     <div class="fb-text">
                           <h4>Backup &amp; Security</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
               </div>

               <div class="col-lg-4 col-md-6 mb30 wow fadeInRight" data-wow-delay=".5s">
                  <div class="f-box f-icon-left f-icon-circle f-border">
                     <i class="fa fa-comments-o id-color"></i>
                     <div class="fb-text">
                           <h4>IT Consultancy</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                     </div>
                  </div>
               </div>
         </div> -->
      </div>
   </section>

</div>